<html>
    <head>
        <title>All Countries</title>
        <link rel="stylesheet" href="{{ url_for('statics', path='/all_geometries.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="navbar" id="navbar">
            <a href="http://127.0.0.1:8000/"><h1>GeoJSON API</h1></a>
            <div class="buttons-navbar">
                <button class="white-button" id="devBlogButton">DevBlog</button>
                <button class="white-button" id="apiDataButton">API Data</button>
            </div>
        </div>

        <div class="body-wrapper">
            <h2>To do :</h2>
            <ul>
                <li>
                    Add a delete endpoint to delete a country from the geojson file. (Easy)
                </li>
                <li>
                    Fix the 422 error on the post endpoint interface (works through the /docs or curl). (Medium)
                </li>
                <li>
                    Clickable cards to display data on the map. (Easy)
                </li>
            </ul>
        </div>
    </body>
</html>

<style>
    .body-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }
</style>

<script>
    document.getElementById("apiDataButton").onclick = function () {
        location.href = "http://127.0.0.1:8000/all_countries";
    };

    document.getElementById("devBlogButton").onclick = function () {
        location.href = "http://127.0.0.1:8000/devblog";
    };
</script>