<html>
    <head>
        <title>GeoJSON API</title>
        <link rel="stylesheet" href="{{ url_for('statics', path='/index.css') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="navbar" id="navbar">
            <h1>GeoJSON API</h1>
            <div class="buttons-navbar">
                <button class="white-button" id="devBlogButton">DevBlog</button>
                <button class="white-button" id="apiDataButton">API Data</button>
            </div>
        </div>
        <div class="body-wrapper" id="body-wrapper">
            <div class="wrapper-input">
                <p style="color: white; font-size: 12px;">Input format : examples : 'Spain', 'Spain, Morocco, France'.</br>Make sure the names start with an uppercase and are separated by commas.</p>
                <input class="countries-input" type="text" id="countries" placeholder="Germany, Morocco ...">
                <div class="wrapper-button">
                    <span>
                        <input class="checkbox" type="checkbox" id="options" name="options">
                        <label for="options">With coordinates</label>
                    </span>
                    <span>
                        <button class="button white-button" onclick="iso_code()">Display</button>
                    </span>
                </div>
            </div>
            <div class="svg-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0839bc" fill-opacity="1" d="M0,192L60,202.7C120,213,240,235,360,208C480,181,600,107,720,90.7C840,75,960,117,1080,165.3C1200,213,1320,267,1380,293.3L1440,320L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
            </div>
            <div class="grid">
                <div class="grid-wrapper" id="grid-wrapper">
                </div>
            </div>
            <div class="map-wrapper">
                <div class="map-buttons">
                    <button class="blue-button" onclick="togglePopUp()">Add</button>
                    <button class="blue-button" onclick="reset_map()">Reset the map</button>
                </div>
                <div id="mapid"></div>
            </div>
            <div class="footer">
                <div class="footer-col">
                    <a>EDDAHABI Riad, 2021</a>
                    <a href="mailto:eddahabi.riad@gmail.com">eddahabi.riad@gmail.com</a>
                </div>
                <div class="footer-col">
                    <a href="https://www.linkedin.com/in/riad-eddahabi/" target="_blank">LinkedIn</a>
                    <a href="https://github.com/RiadEdd" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
        <div class="pop-up-wrapper" id="popup">
            <div class="pop-up">
                <h2>Add a new country</h2>
                <div class="row">
                    <label for="id" class="pop-up-label">Id</label>
                    <input type="text" name="id" id="id">
                </div>
                <div class="row">
                    <label for="name" class="pop-up-label">Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="row">
                    <label for="type" class="pop-up-label">Type</label>
                    <input type="text" name="type" id="geometryType">
                </div>
                <div class="row">
                    <label for="coordinates" class="pop-up-label">Coordinates</label>
                    <input type="text" name="coordinates" id="geometry">
                </div>
                <div class="pop-up-buttons">
                    <button class="blue-button pop-up-button" onclick="add_country()">Add</button>
                    <button class="blue-button pop-up-button" onclick="togglePopUp()">Close</button>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    var countriesData;
    var mymap = L.map('mapid').setView([15, 2], 3);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoicmlhZGVkZCIsImEiOiJja3U4ajg0YmEwYXo2MnByazczeG0xb29yIn0.2T6BJsfJ34Pbm_gEOBiCvA'
}).addTo(mymap);

    document.getElementById("apiDataButton").onclick = function () {
        location.href = "http://127.0.0.1:8000/all_countries";
    };

    document.getElementById("devBlogButton").onclick = function () {
        location.href = "http://127.0.0.1:8000/devblog";
    };

    function togglePopUp() {
        var popup = document.getElementById("popup");
        popup.classList.toggle("pop-up-appear");
    }

    function all_geometries() {
        fetch("http://127.0.0.1:8000/all_geometries")
        .then((resp) => resp.json())
        .then(function(data) {
            console.log(data);
        })
        .catch(function(error) {
            console.log(error);
        });
    }

    function iso_code() {
        //Add a regex to check validity
        var countries = document.getElementById("countries").value;
        countries = countries.replace(/\s/g, ''); //Remove spaces
        var countriesArray = countries.split(",");

        var countriesOption = document.querySelector("#options").checked;

        var url = new URL("http://127.0.0.1:8000/iso_code")
 
        var params = []
        countriesArray.forEach(country => {
            params.push(['names',country]);
        });
        if (countriesOption) params.push(['details', countriesOption]);

        url.search = new URLSearchParams(params).toString();

        fetch(url)
        .then((resp) => resp.json())
        .then(function(data) {
            countriesData = data["items"];
            draw_countries();
            generate_cards();
        })
        .catch(function(error) {
            console.log(error);
        });
    }

    function draw_countries() {
        if(countriesData && countriesData.length != 0) {
            for (let i = 0; i < countriesData.length; i++) {
                var geometryList = [];
                for (let y = 0; y < countriesData[i]["geometry"].length; y++) {
                    //Lat and long are inverted, but it still doesn't always work. France for example ?
                    geometryList.push([countriesData[i]["geometry"][y][1],countriesData[i]["geometry"][y][0]]);
                }
                var polygon = L.polygon(geometryList).addTo(mymap);
            }
        }
    }

    function add_country() {
        var idVar = document.getElementById("id").value;
        var nameVar = document.getElementById("name").value;
        var geometryTypeVar = document.getElementById("geometryType").value;
        var geometryVar = document.getElementById("geometry").value;

        var countryData = {
            "id": idVar,
            "name": nameVar,
            "geometry_type": geometryTypeVar,
            "geometry": JSON.parse(geometryVar)
        };

        console.log(JSON.stringify(countryData));

        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://127.0.0.1:8000/add_country', true);
        xhr.onload = function () {
            // do something to response
            console.log(this.responseText);
        };
        xhr.send(JSON.stringify(countryData));

        /*
        fetch("http://127.0.0.1:8000/add_country",
        {
            method: "POST",
            body: JSON.stringify(countryData)
        })
        /*
        .then(function(res){ return res.json(); })
        .then(function(data){ alert( JSON.stringify( data ) ) })
        */
    }

    function reset_map() {
        /*Figure out a way to not reload the map right after*/
        mymap.eachLayer(function (layer) {
            mymap.removeLayer(layer);
        });
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoicmlhZGVkZCIsImEiOiJja3U4ajg0YmEwYXo2MnByazczeG0xb29yIn0.2T6BJsfJ34Pbm_gEOBiCvA'
        }).addTo(mymap);

        countriesData = [];
        generate_cards();
    }

    function generate_cards() {
        let cardsHtml = document.getElementById("grid-wrapper");
        let htmlString = '';
        for (let i = 0; i < countriesData.length; i++) {
            //countriesData[i]["geometry"]
            htmlString += '<div class="card"><div class="card-text"><h2>';
            htmlString += countriesData[i]["name"] + '</h2><p>' + countriesData[i]["id"];
            if (countriesData[i]["geometry_type"]) htmlString += ", " + countriesData[i]["geometry_type"];
            htmlString += '</p></div></div>';
        }
        cardsHtml.innerHTML = htmlString;
    }
</script>