#mapid { 
    height: 400px;
    width: 60vw;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.navbar {
    padding: 12px;
    background-color: #0839bc;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    color: white;
    font-family: 'Cormorant Garamond', serif;
}

.body-wrapper {
    background-color: #0839bc;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countries-input {
    width: 30vw;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.wrapper-input {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-button {
    margin-top: 8px;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

label {
    color: white;
}

.svg-wrapper {
    width: 100%;
    background-color: white;
}

.map-wrapper {
    width: 100%;
    background-color: white !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.map-buttons {
    width: 60vw; /*Map Width*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.blue-button {
    background-color: #0839bc;
    color: white;
    border-radius: 5px;
    outline: inherit;
    border: none;
    padding: 6px 12px 6px 12px;
    cursor: pointer;
}

.white-button {
    background-color: white;
    color: black;
    border-radius: 5px;
    outline: inherit;
    border: none;
    padding: 6px 12px 6px 12px;
    cursor: pointer;
}

.pop-up-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: rgba(0,0,0,0.5);
}

.pop-up-appear {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-label {
    color: black;
}

.pop-up {
    padding: 0;
    margin: 0;
    width: 500px;
    border-radius: 6px;
    background-color: #ffffff;
    background-image: linear-gradient(285deg, #ffffff 0%, #d7e1ec 50%);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0px 3px 0px;
}

.pop-up-buttons {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-top: 6px;
    margin-bottom: 6px;
}

.pop-up-button {
    margin-left: 12px;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-col {
    display: flex;
    flex-direction: column;
}

.grid {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-bottom: 30px;
}

.card {
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #ffffff 0%, #d7e1ec 30%);
    box-shadow: 0 1px 1px rgba(0,0,0,0.06), 
              0 2px 2px rgba(0,0,0,0.06), 
              0 4px 4px rgba(0,0,0,0.06), 
              0 8px 8px rgba(0,0,0,0.06),
              0 16px 16px rgba(0,0,0,0.06);
    color: white;
    border-radius: 6px;
}

.card p {
    color: rgba(0,0,0,0.8);
}

.card-text {
    padding: 2px 6px 2px 6px;
}